<!--Login Container-->

<div class="loginContainer row shadow">
  <div class="col-md-4 p-0">
    <div class="loginImg">
    </div>
  </div>
  <div class="col-8 ">
    <div class="p-3 ">
      <div class="titleDiv text-center">
        <h2 >Log in</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section id="loginForm">
            <form class="form-horizontal" role="form" [formGroup]="loginForm" (ngSubmit)="Login()">                   
              <div class="col-md-12">
                <div class="form-group" >
                  <label class="col-md-2" for="Email">Email</label>
                  <input formControlName="lemail" class="form-control"  id="lemail" name="Email" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label" for="Password">Password</label>
                  <input formControlName="lpassword" class="form-control" id="lpassword" name="Password" type="password" >
                </div>
              </div>
              <div class="form-group">
                <div class=" col-md-12">
                  <button type="submit" value="Log in" class="btn btn-primary w-100">Log In</button>
                </div>
              </div>
              <p class="text-center">
                <a href="" data-toggle="modal" data-target="#myModal">New Recruiter? Click here to register.</a> 
              </p>
            </form>                        
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Modal-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body"></div>
        <section id="signupForm">
          <form class="form-horizontal" role="form" [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-2" for="Email">Name</label>
                <input formControlName="sname" class="form-control"  id="Name" name="Name" type="text">
              </div>
            </div> 
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-2" for="Email">Email</label>
                <input formControlName="semail" class="form-control"  id="Email" name="Email" type="text">
              </div>
            </div>                  
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-2 control-label" for="Password">Password</label>
                <input formControlName="spassword" class="form-control" id="Password" name="Password" type="password" >
              </div>
            </div>
            <div class="form-group">
              <div class=" col-md-12">
                <input type="submit" value="Sign Up" class="btn btn-primary w-100">
              </div>
            </div>
          </form>
          <div *ngIf="successMsg">
            <span class="successTxt"> {{successMsg}} </span>
          </div>
          <div *ngIf="errorMsg">
            <span class="errorTxt">{{errorMsg}} </span>
          </div>
        </section>
      </div>
      
    </div>
</div>
