/* You can add global styles to this file, and also import other style files */
*{
    color: #eb1c09;
}

.successTxt{
    color: green;
    text-align: center;
}

.errorTxt{
    color:red;
    text-align: center;
}

.modal-header{
    /* display: inline-block; */
    text-align: center;
}

button{
    color: #eb1c09;

}

button:hover {
    background: #eb1c09;
    color: white;
  }

.form-horizontal{
    margin: 5px;
}
  